.jumbotron {
    background-image: url("../img/burgerpic.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e61717;
    color: #e1d336;
    margin-top: 3%;
}

#newburger {
    color: #5c5c5c;
}

#leftside {
    background-color: #5c5c5c;
    color: rgb(242, 233, 233);
    text-align: center;
    font-size: 1.3em;
}

#rightside {
    background-color: #e49322;
    color: white;
    text-align: center;
    font-size: 1.3em;
}